extends ../layouts/base

block variables
	- pageLang = ""
	- pageTitle = "Home"
	- pageDescription = "Erfan Abdi Personal WebSite"
	- pageKeywords = "erfan abdi, erfan, abdi, developer, student, opensource"
	- pageUrl = "http://erfanoabdi.github.io/"


block body-content
	// $Page header
	header.page-header.js-header
		.page-header__inner
			.page-header__logo
				h1 Erfan Abdi
				| &nbsp;
				a Full Time Medical Student, Part time Developer
			nav.page-header__nav.js-nav
				ul
					li
						a.page-header__nav-link.js-anchor.js-link.is-active(href='#home') Home
					li
						a.page-header__nav-link.js-anchor.js-link(href='#about') About Me
					li
						a.page-header__nav-link.js-anchor.js-link(href='#projects') My Projects
					li
						a.page-header__nav-link.js-anchor.js-link(href='#skills') My Skills
					li
						a.page-header__nav-link.js-anchor.js-link(href='#contact') Contact


	// $Promo section
	section#home.promo.js-jumbo
		h2.promo__title
			| Erfan Abdi
		p.promo__descr Welcome to My Personal Web Site.
		a.promo__go-next.js-anchor(href='#about') Scroll down


	// $About section
	section#about.portfolio.js-portfolio
		.portfolio__inner
			h2.portfolio__title About me
			p.portfolio__descr Hello! I'm Erfan, born in 1999. I have been affiliated with the computer Hobbies because My Father is Electronic Engineer. I started to work with computer while I was only 3 years old BUT now i'm just a medical student in IUMS, who enjoys building things that live on the computers.
				ul.portfolio__content
					li.portfolio__item.js-item
							img.portfolio__item-img.js-lazy(src='static/images/output4.jpg', alt='')
					li.portfolio__item.js-item
							img.portfolio__item-img.js-lazy(src='static/images/output6.jpg', alt='')
					li.portfolio__item.js-item
							img.portfolio__item-img.js-lazy(src='static/images/output7.jpg', alt='')

	// $Projects section
	section#projects.team
		.team__inner
			h2.team__title My Projects
			p.team__text Have a look at my Curriculum Vitae :
			ul.buttons__content
				li.buttons__item
					a(href='static/images/CV/Erfan_CV_En.pdf')
							input.contact__form-submit(type='submit', value='English')
				li.buttons__item
					a(href='static/images/CV/Erfan_CV_Fa.pdf')
							input.contact__form-submit(type='submit', value='Persian')

	// $Skills section
	section#skills.portfolio.js-portfolio
		.portfolio__inner
			h2.portfolio__title My Skills
			p.portfolio__descr I have MCSE 2000 under Supervision of Microsoft Directory in the Tehran Institute of Technology ...
			p.portfolio__descr But also:<br>OPENSOURCE PROGRAMMER<br>In love with linux and also hate it!<br>Android and embedded devices expert<br>Mobile apps Developer<br>Noob hardware hacker<br>also experiences with web development.

			ul.portfolio__content
				li.portfolio__item.js-item
						img.portfolio__item-img.js-lazy(src='static/images/output8.jpg', alt='')
				li.portfolio__item.js-item
						img.portfolio__item-img.js-lazy(src='static/images/output5.jpg', alt='')
				li.portfolio__item.js-item
						img.portfolio__item-img.js-lazy(src='static/images/output2.jpg', alt='')

	// $Contact section
	section#contact.contact
		.contact__inner
			h2.contact__title Contact me
			p.contact__descr Feel free to chat with me
			form.contact__form(action='#', method='post')
				input#name.contact__form-input(type='text', name='name', placeholder='Your name')
				input#email.contact__form-input(type='email', name='email', placeholder='Your email')
				textarea#message.contact__form-tarea(name='message', placeholder='Your message')
				input.contact__form-submit(type='submit', value='Submit')
			.contact__card.vcard
				h3.contact__card-title Information
				a.contact__card-item.email(href='mailto:erfangplus@gmail.com') erfangplus@gmail.com
			.contact__card.vcard
				h3.contact__card-title Social
				ul.team__member-soc
					li
						a.team__member-icon.start.fab.fa-instagram(href='https://www.instagram.com/khode_erfan/') My Instagram
					li
						a.team__member-icon.fab.fa-twitter(href='https://twitter.com/khode_erfan') Follow me on twitter
					li
						a.team__member-icon.fab.fa-mastodon(rel="me" href="https://mastodon.social/@khode_erfan") Follow me on mastodon
					li
						a.team__member-icon.fab.fa-linkedin(href='https://www.linkedin.com/in/erfan-abdi-31812672/') My LinkedIn
					li
						a.team__member-icon.end.fab.fa-github(href='https://github.com/erfanoabdi') My GitHub

	// $Page footer
	footer.page-footer
		.page-footer__inner
			span.page-footer__copyright &copy; Copyright 2013, 2017 Bak-One | One Page Flat Template
			a.page-footer__gotop.js-anchor(href='#home') Go to top
